body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    margin-bottom: 15px;
    border-bottom: solid black 5px
}

#logo {
    margin-left: 10px;
}

.selection-menu {
    text-align: center;
    font-size: 18px;
}

.product-select {
    margin-bottom: 20px;
}

.cart-select {
    margin-bottom: 80px;
}

.page-heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.bun-images {
    border: solid black 3px;
    width: 280px;
    height: 280px;
    margin-bottom: 5px;
}

.bun-caption {
   font-size: 22px;
}

.price {
    margin-bottom: 50px;
    font-size: 22px;
}

.bun-options {
    overflow-wrap: break-word;
    width: 286px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.big-bun-image {
    border: solid black 3px;
}

.big-buns {
    text-align: center;
}

.big-bun-caption {
    font-size: 22px;
    overflow-wrap: break-word;
    width: 335px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.bun-customize {
    width: 335px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

