/* general settings */

body, html {
    height: 100%;
    margin: 0px;
}

@font-face {
    font-family: 'Anton';
    src: url('../assets/fonts/anton-regular.ttf') format('truetype');

    font-family: 'KDA';
    src: url('../assets/fonts/kda.ttf') format('truetype');
}

a {
    text-decoration: none;
}

/* landing page */

.landing-bg {
    background-image: url('../assets/background/universe-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: left;
}

#content-container {
    height: 300px;
    width: 750px;
    position: relative;
}

.parent-logo {
    position: absolute;
}

.logo {
    margin-top: 40px;
    width: 700px;
    height: 210px;
}

.child-emblems {
    position: absolute;
    margin-left: 190px;
    margin-top: 220px;
}

.emblem {
    margin-left: 20px;
    margin-right: 20px;
    width: 35px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(transparent, #211F2C);
    display: flex;
}

#empty {
    width: 55%;
    flex-shrink: 0;
}

#enter-message {
    text-align: left;
}

#enter-message p {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #eee4fb;
}

/* code for neon flicker animation from: https://www.w3schools.com/howto/howto_css_glowing_text.asp */

#enter-message h1 {
    text-transform: uppercase;
    font-family: 'Anton';
    margin-top: 0px;
    font-size: 65px;
    letter-spacing: 3px;
    margin-bottom: 80px;
    color: white;
    animation: neon-flicker 2s ease-in-out infinite alternate;
}

@keyframes neon-flicker {
    from {
      text-shadow: 0 0 3px white, 0 0 10px #ca8bf5, 0 0 20px #7678bc;
    }
    to {
      text-shadow: 0 0 10px white, 0 0 20px #ca8bf5, 0 0 30px #7678bc;
    }
}

/* music video demo page */

iframe {
    background-color: black;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
}

.buttons {
    position: relative;
    display: flex;
    text-transform: uppercase;
    margin-right: 200px;
    opacity: 0;
}

.skip {
    text-align: center;
    padding-top: 7px;
    letter-spacing: 1px;
    background-color: #211F2C;
    border: solid 1px white;
    border-radius: 45px;
    font-family: 'Anton';
    margin: 0px;
    width: 200px;
    height: 50px;
    font-size: 28px;
    color: white;
}

.skip:hover {
    color: #c0f3f2;
    border-color: #c0f3f2;
}

.back {
    width: 80px;
    margin-right: 10px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;
    color: white;
}

.back:hover {
    color: #c0f3f2;
}

.button-spacing {
    display: flex;
    justify-content: flex-end;
}

.button-spacing div {
    margin-top: 30px;
}

