/* general settings */

body {
    background-color: #211F2C;
}

@font-face {
    font-family: 'Anton';
    src: url('../assets/fonts/anton-regular.ttf') format('truetype');

    font-family: 'KDA';
    src: url('../assets/fonts/kda.ttf') format('truetype');
}

/* content for navigation bar */

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.logo {
    font-family: KDA;
    margin-left: 20px;
    font-size: 35px;
    -webkit-background-clip: text;
    flex-shrink: 0;
    margin-bottom: 0px;
}

/* text gradient referenced from: https://unused-css.com/blog/css-text-gradient/ */

.gradient {
    background-image: linear-gradient(315deg, #a5c3e9, #c0f3f2, #eff3ee, #c9d2f5, #b9bafa);
    background-size: 100%;
    color: transparent;
}

.branding {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    margin-top: 25px;
    column-gap: 30px;
}

#league {
    height: 35px;
}

#riot-games {
    margin-right: 20px;
    height: 35px;
}

/* member introduction */

.member-info {
    background-image: url(../assets/background/gradient-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 610px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 45px 45px 45px 45px;
    margin-top: 25px;
    overflow: hidden;
}

#title {
    font-family: 'Anton';
    display: flex;
    justify-content: space-between;
    color: #211F2C;
    text-transform: uppercase;
    margin-bottom: 0px;
    height: 200px;
}

#title div {
    display: flex;
}

.member-emblems {
    margin-top: 30px;
    margin-left: 30px;
    height: 90px;
    width: 90px;
    flex-shrink: 0;
}

h1 {
    margin-left: 25px;
    font-size: 100px;
    letter-spacing: 7px;
    margin-right: 20px;
    margin-top: 20px;
}

h2 {
    letter-spacing: 1px;
    margin-top: 43px;
}

.member-photos {
    position: relative;
    width: 60%;
    height: auto;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    text-align: right;
}

#member-name {
    font-family: 'Anton';
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: #211F2C;
    opacity: 80%;
    font-size: 70px;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-shrink: 0;
}

#member-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    margin-top: 0px;
    color: #642084;
    flex-shrink: 0;
}

.member-bio {
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    font-size: 17px;
    flex-shrink: 0;
}

#role {
    color: #642084;
    font-weight: bold;
}

#strengths {
    color: #642084;
    font-weight: bold;
}

.buttons {
    display: flex;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    justify-content: flex-end;
    column-gap: 35px;
}

.more-button {
    display: flex;
    font-size: 20px;
    height: 35px;
    background-color: #211F2C;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    padding: 15px;
    font-family: 'Anton';
    color: #c0f3f2;
    flex-shrink: 0;
    column-gap: 5px;
    border: solid #c0f3f2 1px;
}

.more-button:hover {
    border-color: #211F2C;
    background-color: transparent;
    color: #211F2C;
}

.more-button img {
    width: 35px;
}

.other-profiles {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.member-button {
    text-align: center;
    background-color: #211F2C;
    padding: 15px;
    width: 35px;
    height: 35px;
    border-radius: 45px;
    border: solid #c0f3f2 1px;
}

.member-button:hover {
    border-color: #211F2C;
    background-color: transparent;
    color: #211F2C;
}

.member-button img {
    padding-top: 5px;
    vertical-align: middle;
    width: 65%;
}

/* footer information */

footer {
    height: 140px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    display: flex;
}

#music-links {
    display: flex;
    column-gap: 15px;
    height: 40px;
}

footer img {
    width: 40px;
}

#credit-statement {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: white;
    font-size: 14px;
    text-align: right;
    line-height: 20px;
    width: 750px;
}

/* spotify music player */

iframe {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 90%;
}